:root {
    --star-color: #fff;
    --star-background: #fc0;
 }
 
 .stars {
    --star-percent: calc(var(--star-rating) / 5 * 100%);
    display: inline-block;
    font-family: Times;
    line-height: 1;
 }
 
 .stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--star-percent), var(--star-color) var(--star-percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }